.avtar-showcase{
    display: flex;
    padding: 2rem;
    background-color: #f1f5f9;
    border-radius: .8rem;
    border: 1px solid #f1f1f1;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.avtar-showcase ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.avtar-showcase ul li{
    margin-right: 1rem;
    
}

.avtar-showcase ul li img{
    border-radius: 100%;

}

li{
    list-style: none;
}

