/* basic things to be taken care */
@import url(//db.onlinewebfonts.com/c/93a467f70a3e7b27a9b52a686f351dbe?family=DINNextLTPro-Regular);

*{
    padding: 0;
    margin: 0;
<<<<<<< Updated upstream
    font-family: "DINNextLTPro-Regular";
=======
/* background: "./component_image/killjoy-removebg-preview (1).png"; */
   background-color:var(--third-colour) ;
   font-family: "DINNextLTPro-Regular";
>>>>>>> Stashed changes
}
:root{
     --primary-colour:#FF4655;
     --secondary-colour:#ECE8E1;
     --third-colour:#111111;
    }
body{
    background-color:var(--third-colour);

}

.main{

<<<<<<< Updated upstream
    background-image: url(./component_image/killjoy-removebg-preview.png) ;
    background-repeat: no-repeat;
    
=======
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    }



#title_name{
    font-size: 15rem;
    color: var(--primary-colour);
<<<<<<< Updated upstream
    background-color: transparent;
=======
    margin: 2rem 0rem;
>>>>>>> Stashed changes
}


.about{
    margin-bottom: 2rem;
    /* font-size: 2rem; */
<<<<<<< Updated upstream
    /* width: 820px; */
    /* margin: auto; */
=======
    width: 820px;

    
>>>>>>> Stashed changes
    /* align-items: center; */
    /* justify-content: center; */
    color: var(--secondary-colour);
    background-color: transparent;
}

.about h3{
    display: flex;
    align-self: center;
    justify-content: center;
}

ul{
    list-style: none;
}
.goto ul {
 
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.goto li{
    margin-right: 2rem;
}

.goto ul li a button{
<<<<<<< Updated upstream
    padding: 1rem;
    border: 1px solid var(--third-colour);
=======
    padding: 0.7rem 1rem;
    border: 1px solid var(--secondary-colour);
>>>>>>> Stashed changes
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--secondary-colour);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin-top: 1rem;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);

}

.goto ul li a button:hover{
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    box-shadow: inset 400px 0 0 0 var(--secondary-colour);
  
}
